@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

.App {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  box-shadow: #282c34 0 0 2px 1px;
  margin-bottom: 100px;
  position: absolute;
  top: 0;
}

header div {
  line-height: 35px;
  vertical-align: center;
  display: flex;
  color: #282c34;
  font-weight: 500;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

span.logo {
  font-size: 35px;
  margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swap-window {
  width: 500px;
  max-width: 90%;
  margin: 150px auto 100px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: #282c34 0 0 4px 2px;
  font-family: 'Roboto', sans-serif;
}

.swap-window div {
  margin: 5px 0;
}

.choose-option {
  cursor: pointer;
}

.swap-window input {
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
  border: #003300 1px solid;
  margin: 30px 0 10px;
  text-align: center;
  color: #003300;
  font-size: 15px;
}

.choose-option.chosen {
  color: green;
}

button {
  background: #003300;
  color: white;
  border: none;
  box-shadow: none;
  padding: 7px 20px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 600;
}

.notificationWindow {
  top: 50px;

}